{% extends 'base.html' %}
{% load static %}
{% block title %}
    Homepage
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title">Books</h4>
                    <a href="{% url 'books:book_list' %}" class="btn btn-primary">Go to Books</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title">Authors</h4>
                    <a href="{% url 'books:author_list' %}" class="btn btn-primary">Go to Authors</a>
                </div>
            </div>

        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                {#                <img class="card-img-top" src="{% static 'img/carousel_goodreads.jpg' %}" alt="Card image cap">#}
                <div class="card-body">
                    <h4 class="card-title">Genres</h4>
                    {#                    <p class="card-text"></p>#}
                    <a href="{% url 'books:genre_list' %}" class="btn btn-primary">Go to Genres</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
